@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fruktur&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fruktur&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fruktur&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&amp;display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fruktur&display=swap);
html {
  overflow-x: hidden;
}

ul {
  float: left;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

@-webkit-keyframes upDown {
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    color: #ff626d;
  }
  100% {
    color: #333235;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upDown {
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    color: #ff626d;
  }
  100% {
    color: #333235;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn {
  padding: 16px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  font-size: 16px;
  background-color: #5d5dff;
}

.btn-info {
  color: #fff;
  font-size: 16px;
  background-color: lightgreen;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333235;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff626d));
  background: linear-gradient(transparent, #ff626d);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

ul {
  float: left;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

@keyframes upDown {
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    color: #ff626d;
  }
  100% {
    color: #333235;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn {
  padding: 16px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  font-size: 16px;
  background-color: #5d5dff;
}

.btn-info {
  color: #fff;
  font-size: 16px;
  background-color: lightgreen;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333235;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff626d));
  background: linear-gradient(transparent, #ff626d);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.upTo {
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 5px 10px;
  cursor: pointer;
}

.upTo i {
  font-size: 30px;
  color: #333235;
  -webkit-transition: .5s;
  transition: .5s;
}

.upTo i:hover {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.wrapper {
  position: relative;
}

.wrapper header {
  background-color: transparent;
  position: fixed;
  z-index: 10;
  width: 100vw;
}

.wrapper header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper header nav .content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.wrapper header nav .content-1 .links {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
}

.wrapper header nav .content-1 .links li {
  list-style: none;
  line-height: 60px;
}

.wrapper header nav .content-1 .links li a,
.wrapper header nav .content-1 .links li label {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper header nav .content-1 .links li label {
  display: none;
}

.wrapper header nav .content-1 .links li:hover {
  background: #323c4e;
}

.wrapper header nav .content-1 .links li:hover > ul {
  top: 60px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper header nav .content-1 .links li.li-second-last, .wrapper header nav .content-1 .links li.li-last-child {
  width: 70px;
  text-align: center;
}

.wrapper header nav .content-1 .links li.li-second-last .show-cart, .wrapper header nav .content-1 .links li.li-last-child .show-cart {
  position: relative;
}

.wrapper header nav .content-1 .links li.li-second-last .show-cart span, .wrapper header nav .content-1 .links li.li-last-child .show-cart span {
  position: absolute !important;
  top: 5px;
  right: 3px;
  font-size: 12px;
}

.wrapper header nav .content-1 .links li.li-second-last {
  cursor: pointer;
  color: #fff;
}

.wrapper header nav .content-1 .links li.li-second-last .sale-cart {
  position: absolute;
  width: 350px;
  display: none;
  background-color: #fff;
  left: 35%;
  border-radius: 5px;
}

.wrapper header nav .content-1 .links li.li-second-last .sale-cart-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper header nav .content-1 .links li.li-second-last .sale-cart-item {
  display: none;
}

.wrapper header nav .content-1 .links li.li-second-last .sale-cart-btn {
  gap: 50px;
  margin: 20px 0px 5px;
}

.wrapper header nav .content-1 .links li.li-second-last .sale-cart-btn button {
  border-radius: 3px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper header nav .content-1 .links ul {
  padding-left: 0px;
  position: absolute;
  background-color: transparent;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  height: 250px;
  width: 105px;
}

.wrapper header nav .content-1 .links ul.gentle {
  height: 100px;
  width: 105px;
}

.wrapper header nav .content-1 .links ul li {
  margin-top: 2px;
  position: relative;
}

.wrapper header nav .content-1 .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px !important;
  border-radius: 0px !important;
}

.wrapper header nav .content-1 .links ul li:hover ul {
  top: -50px;
}

.wrapper header nav .content-1 .links ul li:hover {
  background: #323c4e;
}

.wrapper header nav .content-1 .links ul ul {
  position: relative;
  left: 135px;
}

.wrapper header nav .content-1 .logo a img {
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper header .search-icon,
.wrapper header .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper header .menu-icon {
  display: none;
}

.wrapper header #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper header .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 40%;
  right: 50px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper header .search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background-color: transparent;
  padding: 0 100px 0 15px;
}

.wrapper header .search-box input::-webkit-input-placeholder {
  color: #fff;
}

.wrapper header .search-box input:-ms-input-placeholder {
  color: #fff;
}

.wrapper header .search-box input::-ms-input-placeholder {
  color: #fff;
}

.wrapper header .search-box input::placeholder {
  color: #fff;
}

.wrapper header .search-box .search-box input::-webkit-input-placeholder {
  color: #f2f2f2;
}

.wrapper header .search-box .search-box input:-ms-input-placeholder {
  color: #f2f2f2;
}

.wrapper header .search-box .search-box input::-ms-input-placeholder {
  color: #f2f2f2;
}

.wrapper header .search-box .search-box input::placeholder {
  color: #f2f2f2;
}

.wrapper header .search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.wrapper header #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}

.wrapper header input[type="checkbox"] {
  display: none;
}

html {
  overflow-x: hidden;
}

ul {
  float: left;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

@keyframes upDown {
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    color: #ff626d;
  }
  100% {
    color: #333235;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn {
  padding: 16px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  font-size: 16px;
  background-color: #5d5dff;
}

.btn-info {
  color: #fff;
  font-size: 16px;
  background-color: lightgreen;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333235;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff626d));
  background: linear-gradient(transparent, #ff626d);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.wrapper header {
  background-color: #fcad72;
}

main {
  margin: 0 auto;
  padding-top: 50px;
}

main .product-heading {
  margin: 10px auto;
  margin-top: 30px;
}

main .product-heading h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

main .product-heading h5 p {
  padding: 10px;
  color: #333235;
}

main .product-heading h5 .check {
  color: #2E90E5;
}

main .this-product {
  margin: 50px auto;
}

main .this-product .about-product .about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .this-product .about-product .about-image .about-product-image {
  width: 50%;
}

main .this-product .about-product .about-image .about-product-image .img-display {
  overflow: hidden;
}

main .this-product .about-product .about-image .about-product-image .img-display .img-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .this-product .about-product .about-image .about-product-image .img-display .img-showcase img {
  min-width: 100%;
  display: block;
}

main .this-product .about-product .about-image .about-product-image .img-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .this-product .about-product .about-image .about-product-image .img-select .img-item {
  margin: 0.3rem;
}

main .this-product .about-product .about-image .about-product-image .img-select .img-item:first-child, main .this-product .about-product .about-image .about-product-image .img-select .img-item:nth-child(2), main .this-product .about-product .about-image .about-product-image .img-select .img-item:nth-child(3) {
  margin-right: 0;
}

main .this-product .about-product .about-image .about-product-image .img-select .img-item:hover {
  opacity: 0.8;
}

main .this-product .about-product .about-image .about-product-image .img-select .img-item a img {
  width: 80px;
  display: block;
}

main .this-product .about-product .about-image .about-product-size {
  margin-left: 20px;
  padding-left: 10px;
  color: #333235;
}

main .this-product .about-product .about-image .about-product-size .about-name p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

main .this-product .about-product .about-image .about-product-size .about-name span {
  font-family: "Poppins", sans-serif;
  font-style: 300;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-top: 5px;
  gap: 20px;
}

main .this-product .about-product .about-image .about-product-size .about-name span:first-child {
  color: #f8ad73;
}

main .this-product .about-product .about-image .about-product-size .about-name span:nth-child(2) {
  color: #cccccc;
  font-size: 12px;
}

main .this-product .about-product .about-image .about-product-size .about-name span:last-child a {
  color: #ff626d;
  text-decoration: none;
  font-weight: bold;
}

main .this-product .about-product .about-image .about-product-size .about-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 5px;
}

main .this-product .about-product .about-image .about-product-size .about-price h2 {
  color: #40BFFF;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 180%;
  /* identical to box height, or 36px */
  letter-spacing: 0.5px;
}

main .this-product .about-product .about-image .about-product-size .about-price del {
  color: #cccccc;
  font-size: 14px;
}

main .this-product .about-product .about-image .about-product-size .about-price span {
  color: #ff626d;
  font-weight: bold;
}

main .this-product .about-product .about-image .about-product-size .about-size table {
  margin-top: 10px;
}

main .this-product .about-product .about-image .about-product-size .about-size table tr td {
  padding: 8px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

main .this-product .about-product .about-image .about-product-size .about-size table tr td:first-child {
  width: 200px;
}

main .this-product .about-product .about-image .about-product-size .about-size table tr.selectColor td:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

main .this-product .about-product .about-image .about-product-size .about-size table tr.selectColor td:nth-child(2) span {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100rem;
  padding: 5px;
}

main .this-product .about-product .about-image .about-product-size .about-size table tr.selectColor td:nth-child(2) span:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid #cccccc;
}

main .this-product .about-product .about-image .about-product-size .about-size table tr:last-child td select {
  padding: 5px;
  padding-right: 20px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  outline: none;
}

main .this-product .about-product .about-image .about-product-size .about-size table tr:last-child td select option {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

main .this-product .about-product .about-image .about-product-size .about-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

main .this-product .about-product .about-image .about-product-size .about-quantity .quantity-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .this-product .about-product .about-image .about-product-size .about-quantity .quantity-choose button {
  padding: 3px;
  width: 30px;
  height: 30px;
  color: #33A0FF;
  border: 1px solid #cccccc;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .this-product .about-product .about-image .about-product-size .about-quantity .quantity-choose .choose {
  width: 30px;
  height: 30px;
  padding: 3px;
  text-align: center;
  border: 1px solid #cccccc;
  font-size: 16px;
}

main .this-product .about-product .about-image .about-product-size .about-quantity .quantity-add button {
  color: #fff;
  font-size: 16px;
  background-color: #333235;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  outline: none;
  border-radius: 3px;
}

main .this-product .about-product .about-image .about-product-size .about-quantity .quantity-add button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #6A5AF9;
}

main .this-product .about-product .about-image .about-product-size .about-quantity .quantity-add:hover {
  -webkit-transform: translateZ(2px);
          transform: translateZ(2px);
}

main .this-product .about-product .about-image .about-product-size .about-share button {
  cursor: pointer;
  border-radius: 0;
  border: 1px solid #33A0FF;
}

main .this-product .about-product .about-image .about-product-size .about-share button i {
  padding-right: 5px;
}

main .this-product .about-product .about-image .about-product-size .about-share button:last-child {
  border: 1px solid lightgreen;
}

main .this-product .about-product .about-image .about-product-size .about-share button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .this-product .about-seller {
  height: 500px;
}

main .this-product .about-seller .about-seller-img h3 {
  color: #ccc;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

main .this-product .about-seller .about-seller-img .sale-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

main .this-product .about-seller .about-seller-img .sale-rate {
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
}

main .this-product .about-seller .about-seller-img .sale-rate p:first-child {
  color: #f8ad73;
  padding: 5px 0;
}

main .this-product .about-seller .about-seller-img .sale-rate p:last-child {
  padding: 5px 0;
}

main .this-product .about-seller .about-seller-img .sale-rate p:last-child span {
  color: #ff626d;
}

main .this-product .about-seller .about-seller-img .sale-rate p:last-child del {
  color: #cccccc;
}

main .about-reviews {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .about-reviews .menu-more ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: -13px;
}

main .about-reviews .menu-more ul li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

main .about-reviews .menu-more ul .active {
  color: #2E90E5;
  border: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  position: relative;
}

main .about-reviews .menu-more ul .active::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
}

main .about-reviews-content {
  padding: 30px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  color: gray;
}

main .about-reviews-content .tab-content {
  position: relative;
}

main .about-reviews-content .tab-content .tab-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

main .about-reviews-content .tab-content .tab-pane h5 {
  color: #333235;
  font-weight: bold;
}

main .about-reviews-content .tab-content .tab-pane ul {
  margin: 5px 0;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .about-reviews-content .tab-content .tab-pane p {
  font-size: 16px;
}

main .about-reviews-content .tab-content .tab-pane .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .about-reviews-content .tab-content .tab-pane .media-body {
  display: block;
  margin-left: 15px;
}

main .about-reviews-content .tab-content .tab-pane .media-body ul {
  margin-left: 400px;
  margin-bottom: 50px;
}

main .about-reviews-content .tab-content .tab-pane .reviews div {
  margin: 20px 0;
}

main .about-reviews-content .tab-content .tab-pane .reviews div input {
  padding: 5px;
  padding-left: 10px;
  outline: none;
}

main .about-reviews-content .tab-content .tab-pane .reviews div input::-webkit-input-placeholder {
  padding-left: 5px;
}

main .about-reviews-content .tab-content .tab-pane .reviews div input:-ms-input-placeholder {
  padding-left: 5px;
}

main .about-reviews-content .tab-content .tab-pane .reviews div input::-ms-input-placeholder {
  padding-left: 5px;
}

main .about-reviews-content .tab-content .tab-pane .reviews div input::placeholder {
  padding-left: 5px;
}

main .about-reviews-content .tab-content .tab-pane .reviews div input:focus {
  outline: none;
}

main .about-reviews-content .tab-content .tab-pane .reviews div small {
  padding-top: 10px;
  margin: 5px 10px;
  font-size: 16px;
  color: red;
  display: none;
}

main .about-reviews-content .tab-content .tab-pane .reviews div button {
  background-color: #6A5AF9;
  border: #6A5AF9;
}

main .about-reviews-content .tab-content .tab-pane .reviews div button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .about-reviews-content .tab-content .show {
  position: relative;
}

main .about-reviews-content .tab-content .active {
  opacity: 1;
  visibility: visible;
}

main .related-products-content h1 {
  font-size: 60px;
  font-family: "Fruktur", cursive;
  font-weight: bold;
  color: #333235;
}

main .related-products .related {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 50px 0;
}

main .related-products .related .about-seller-img .sale-img {
  cursor: pointer;
}

main .related-products .related .about-seller-img .sale-img img {
  width: 270px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

main .related-products .related .about-seller-img .sale-rate {
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
}

main .related-products .related .about-seller-img .sale-rate p:first-child {
  color: #f8ad73;
  padding: 5px 0;
}

main .related-products .related .about-seller-img .sale-rate p:last-child {
  padding: 5px 0;
}

main .related-products .related .about-seller-img .sale-rate p:last-child span {
  color: #ff626d;
}

main .related-products .related .about-seller-img .sale-rate p:last-child del {
  color: #cccccc;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .wrapper header nav .menu-icon {
    display: block;
  }
  .wrapper header nav #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  .wrapper header nav .content-1 .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .wrapper header nav .content-1 .links li {
    margin: 15px 20px;
  }
  .wrapper header nav .content-1 .links li a,
  .wrapper header nav .content-1 .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .wrapper header nav .content-1 .links li a.desktop-link {
    display: none;
  }
  .wrapper header nav .content-1 .links ul,
  .wrapper header nav .content-1 .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .wrapper header nav .content-1 .links #show-features:checked ~ ul,
  .wrapper header nav .content-1 .links #show-services:checked ~ ul,
  .wrapper header nav .content-1 .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .wrapper header nav .content-1 .links ul li {
    margin: 7px 20px;
  }
  .wrapper header nav .content-1 .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
  .wrapper header nav #show-menu:checked ~ .content-1 .links {
    left: 0%;
    top: 40px;
  }
  main .this-product .about-product .about-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0 auto;
  }
  main .this-product .about-product .about-image .about-product-image .image-large img {
    width: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .this-product .about-product .about-image .about-product-image .image-min img {
    width: 21vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .this-product .about-seller-img {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .this-product .about-seller-img .sale-img {
    margin: 0 auto;
  }
  main .this-product .about-seller-img .sale-img img {
    width: 300px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .related-products-content h1 {
    font-size: 30px;
  }
  main .related-products .related {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer {
    padding: 0;
    height: 350px;
  }
  footer .footer {
    width: 100vw;
    padding: 10px 0;
    gap: 10px;
  }
  footer .footer .information h2 {
    font-size: 20px;
  }
  footer .footer .information p {
    font-size: 12px;
  }
  footer .footer .address h2 {
    font-size: 20px;
  }
  footer .footer .address a i,
  footer .footer .address a span {
    font-size: 12px;
  }
  footer .footer .social-networking h2 {
    font-size: 20px;
    margin-right: 15px;
  }
  footer .footer .social-networking .social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
  }
  footer .footer .social-networking .social-icons a {
    padding: 0 !important;
    margin: 0;
  }
  footer .footer .social-networking .social-icons a i {
    font-size: 20px;
  }
  footer .foot-register {
    padding-top: 0;
    margin-top: 0;
  }
  footer .foot-register h4 {
    font-size: 14px;
  }
  footer .foot-register-search input {
    padding: 2px;
    font-size: 12px;
  }
  footer .foot-register-search button {
    padding: 3px 5px;
    font-size: 12px;
  }
  footer .foot-register-payment img {
    width: 50px;
  }
  @-webkit-keyframes besides {
    from {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes besides {
    from {
      -webkit-transform: translateX(300px);
              transform: translateX(300px);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
}

@media only screen and (max-width: 46.1875em) {
  .wrapper header {
    width: 100vw;
  }
  .wrapper header nav {
    max-width: 100vw;
  }
  .wrapper header nav .menu-icon {
    display: block;
  }
  .wrapper header nav #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  .wrapper header nav .content-1 .links {
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 250px;
    overflow-y: auto;
    padding-bottom: 100px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .wrapper header nav .content-1 .links li {
    margin: 15px 20px;
  }
  .wrapper header nav .content-1 .links li a,
  .wrapper header nav .content-1 .links li label {
    line-height: 40px;
    font-size: 14px;
    display: block;
    padding: 8px;
    cursor: pointer;
  }
  .wrapper header nav .content-1 .links li a.desktop-link {
    display: none;
  }
  .wrapper header nav .content-1 .links ul,
  .wrapper header nav .content-1 .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .wrapper header nav .content-1 .links #show-features:checked ~ ul,
  .wrapper header nav .content-1 .links #show-services:checked ~ ul,
  .wrapper header nav .content-1 .links #show-items:checked ~ ul {
    max-height: 100vh;
    position: static;
  }
  .wrapper header nav .content-1 .links ul li {
    margin: 7px 20px;
  }
  .wrapper header nav .content-1 .links ul li a {
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px !important;
  }
  .wrapper header nav #show-menu:checked ~ .content-1 .links {
    left: 0%;
    top: 40px;
  }
  .wrapper header .search-box {
    width: 60%;
    right: 80px;
  }
  .wrapper header .search-box input {
    font-size: 12px;
  }
  .wrapper main .product-heading {
    margin-bottom: -20px;
  }
  .wrapper main .product-heading h5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper main .product-heading h5 p {
    font-size: 20px;
  }
  .wrapper main .this-product .about-product .about-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0 auto;
  }
  .wrapper main .this-product .about-product .about-image .about-product-image .image-large img {
    width: 90vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper main .this-product .about-product .about-image .about-product-image .image-min img {
    width: 19vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper main .this-product .about-product .about-reviews .menu-more ul {
    padding: 0 !important;
  }
  .wrapper main .this-product .about-product .about-reviews .menu-more ul li {
    font-size: 16px;
  }
  .wrapper main .this-product .about-seller-img {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper main .this-product .about-seller-img .sale-img {
    margin: 0 auto;
  }
  .wrapper main .this-product .about-seller-img .sale-img img {
    width: 300px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .wrapper main .related-products-content h1 {
    font-size: 30px;
  }
  .wrapper main .related-products .related {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper footer {
    padding: 0;
  }
  .wrapper footer .footer {
    margin: auto;
  }
  .wrapper footer .footer div {
    margin-left: 10px;
  }
  .wrapper footer .footer div .information h2 {
    font-size: 14px;
  }
  .wrapper footer .footer div .information p {
    font-size: 12px;
  }
  .wrapper footer .footer div .address h2 {
    font-size: 14px;
  }
  .wrapper footer .footer div .address a i,
  .wrapper footer .footer div .address a span {
    font-size: 12px;
  }
  .wrapper footer .footer div .social-networking h2 {
    font-size: 14px;
  }
  .wrapper footer .footer div .social-networking div a {
    font-size: 14px;
  }
  .wrapper footer .foot-register {
    padding: 5px;
  }
  .wrapper footer .foot-register-payment a img {
    width: 50px;
  }
}

html {
  overflow-x: hidden;
}

ul {
  float: left;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

@keyframes upDown {
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    color: #ff626d;
  }
  100% {
    color: #333235;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn {
  padding: 16px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-primary {
  color: #fff;
  font-size: 16px;
  background-color: #5d5dff;
}

.btn-info {
  color: #fff;
  font-size: 16px;
  background-color: lightgreen;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333235;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff626d));
  background: linear-gradient(transparent, #ff626d);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff626d), to(#fcad72));
  background-image: linear-gradient(to right, #ff626d, #fcad72);
  padding-top: 30px;
  width: 100vw;
}

footer .footer {
  margin: 0 auto;
  color: #fff;
  padding-bottom: 10px;
}

footer .footer h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 5px 0;
  padding: 5px 0;
}

footer .footer a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

footer .footer a:hover {
  color: #333235;
}

footer .footer .information p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  padding: 5px 0;
}

footer .footer .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer .address a {
  margin-top: 5px;
  padding-top: 5px;
}

footer .footer .address a i {
  padding-right: 5px;
}

footer .footer .social-networking .social-icons a {
  font-size: 30px;
  padding: 5px 10px;
}

footer .footer .social-networking .social-subcribe-send {
  position: relative;
  width: 300px;
}

footer .footer .social-networking .social-subcribe-send input {
  width: 100%;
  margin-top: 10px;
  padding: 5px 15px;
  padding-bottom: 2px;
  font-size: 12px;
  background-color: transparent;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 2px solid white;
  color: white;
}

footer .footer .social-networking .social-subcribe-send input:focus {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

footer .footer .social-networking .social-subcribe-send input::-webkit-input-placeholder {
  color: white;
}

footer .footer .social-networking .social-subcribe-send input:-ms-input-placeholder {
  color: white;
}

footer .footer .social-networking .social-subcribe-send input::-ms-input-placeholder {
  color: white;
}

footer .footer .social-networking .social-subcribe-send input::placeholder {
  color: white;
}

footer .footer .social-networking .social-subcribe-send i {
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

footer .footer .social-networking small {
  font-size: 12px;
  padding: 0 10px;
}

footer .foot-register {
  padding: 20px 0;
  border-top: 2px solid white;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=detail.css.map */