@import 'color';
footer {
    background-image: linear-gradient(to right, $bg-right, $bg-left);
    padding-top: 30px;
    width: 100vw;
    .footer {
        margin: 0 auto;
        color: $text;
        padding-bottom: 10px;
        h2 {
            font-size: 35px;
            font-weight: bold;
            margin: 5px 0;
            padding: 5px 0;
        }
        a {
            text-decoration: none;
            font-size: 16px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: $text;
            &:hover {
                color: $button;
            }
        }
        .information {
            p {
                font-size: 16px;
                line-height: 1.5;
                margin-top: 10px;
                padding: 5px 0;
            }
        }
        .address {
            display: flex;
            flex-direction: column;
            a {
                margin-top: 5px;
                padding-top: 5px;
                i {
                    padding-right: 5px;
                }
            }
        }
        .social-networking {
            .social-icons {
                a {
                    font-size: 30px;
                    padding: 5px 10px;
                }
            }
            .social-subcribe {
                &-send {
                    position: relative;
                    width: 300px;
                    input {
                        width: 100%;
                        margin-top: 10px;
                        padding: 5px 15px;
                        padding-bottom: 2px;
                        font-size: 12px;
                        background-color: transparent;
                        border: none;
                        user-select: none;
                        border-bottom: 2px solid white;
                        color: white;
                        &:focus {
                            user-select: none;
                            outline: none;
                        }
                        &::placeholder {
                            color: white;
                        }
                    }
                    i {
                        color: white;
                        font-size: 16px;
                        cursor: pointer;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                    }
                }
            }
            small {
                font-size: 12px;
                padding: 0 10px;
            }
        }
    }
    .foot-register {
        padding: 20px 0;
        border-top: 2px solid white;
        color: $text;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}