.h3 {
    opacity: 0;
    &.upTo {
        animation: cdlen 1s forwards;
    }
}

@-webkit-keyframes cdlen {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.h1 {
    opacity: 0;
    &.upTo {
        animation: cdngang 1s forwards;
    }
}